<div class="diwali">
    <div>
        <ul>
        <h1><li>JOINING</li></h1>
        <li>10</li>
        <li>50</li>
        <li>25</li>
        <li>100</li>
        <li>200</li>
        <li>250</li>
        <li>500</li>
        <li>1000</li>
        <li>2500</li>
        <li>5000</li>
        <li>10000</li>
        
    </ul>
    </div>

    <div>
        <ul>
            <h1><li>GIFT</li></h1>
            <li>2000 CASH</li>
            <li>5000 CASH</li>
            <li>24"LED TV</li>
            <li>25000</li>
            <li>50000</li>
            <li>HONDA SHINE</li>
            <li>70000</li>
            <li>100000</li>
            <li>ALTO</li>
            <li>SWIFT</li>
            <li>XUV300</li>
        </ul>
    </div>
</div>