
    <div class="offer">
   <marquee >
     <a ui-sref="password.offer"><img src="modules/core/client/img/brand/offer.png"/></a>
    </marquee>
    </div>
<div>
    <table>
    <tr>
        <td>
        <md-card class="box">
                <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tv24.png" />
                    <md-card-content>
                        <h3>TV 24"</h3>
                        <h4>PRICE: Rs.12000</h4>
                        <h5>EMI:Rs.1000</h5>
                    </md-card-content>
                    <md-card-footer>
                     <a class="btn btn-default b" ui-sref="#">BUY</a>
                    </md-card-footer>
                   </md-card>
    </td>

    <td>
       <md-card class="box">
                <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tv32.png" />
                    <md-card-content>
                        <h3>TV 32"</h3>
                        <h4>PRICE: Rs.16000</h4>
                        <h5>EMI:Rs.1365</h5>
                    </md-card-content>
                    <md-card-footer>
                     <a class="btn btn-default b" ui-sref="#">BUY</a>
                    </md-card-footer>
                   </md-card>
        </td>
        <td>
                <md-card class="box">
                        <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tvsm.png" />
                            <md-card-content>
                                <h3>TV 32" Smart</h3>
                                <h4>PRICE: Rs.19000</h4>
                                <h5>EMI:Rs.1600</h5>
                            </md-card-content>
                            <md-card-footer>
                             <a class="btn btn-default b" ui-sref="#">BUY</a>
                            </md-card-footer>
                           </md-card>
            </td>

        
            </tr>

        <tr>
            <td><md-card class="box">
                <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tv42.png" />
                    <md-card-content>
                        <h3>TV 42"</h3>
                        <h4>PRICE: Rs.20000</h4>
                        <h5>EMI:Rs.1730</h5>
                    </md-card-content>
                    <md-card-footer>
                     <a class="btn btn-default b" ui-sref="#">BUY</a>
                    </md-card-footer>
                   </md-card>
    

    
             <td>
                   <md-card class="box">
                <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tv42sm.png" />
                    <md-card-content>
                        <h3>TV 42 Smart"</h3>
                        <h4>PRICE: Rs.22000</h4>
                        <h5>EMI:Rs.1910</h5>
                    </md-card-content>
                    <md-card-footer>
                     <a class="btn btn-default b" ui-sref="#">BUY</a>
                    </md-card-footer>
                   </md-card>   
    </td>

    <td>
            <md-card class="box">
                    <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tv50.png" />
                        <md-card-content>
                            <h3>TV 50"</h3>
                            <h4>PRICE: Rs.28000</h4>
                            <h5>EMI:Rs.2500</h5>
                        </md-card-content>
                        <md-card-footer>
                         <a class="btn btn-default b" ui-sref="#">BUY</a>
                        </md-card-footer>
                       </md-card>
        </td>
    
        </tr>

        <tr>
                <td>
                <md-card class="box">
                        <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/sm50.png" />
                            <md-card-content>
                                <h3>TV 50 Smart"</h3>
                                <h4>PRICE: Rs.30000</h4>
                                <h5>EMI:Rs.2640</h5>
                            </md-card-content>
                            <md-card-footer>
                             <a class="btn btn-default b" ui-sref="#">BUY</a>
                            </md-card-footer>
                           </md-card>
            </td>
        
            <td>
               <md-card class="box">
                        <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/tv55sm.png" />
                            <md-card-content>
                                <h3>TV 55 Smart 4K"</h3>
                                <h4>PRICE: Rs.42000</h4>
                                <h5>EMI:Rs.3730</h5>
                            </md-card-content>
                            <md-card-footer>
                             <a class="btn btn-default b" ui-sref="#">BUY</a>
                            </md-card-footer>
                           </md-card>
                </td>
                <td>
                        <md-card class="box">
                                <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/sm65k.png" />
                                    <md-card-content>
                                        <h3>TV 65" Smart 4K</h3>
                                        <h4>PRICE: Rs.69000</h4>
                                        <h5>EMI:Rs.6200</h5>
                                    </md-card-content>
                                    <md-card-footer>
                                     <a class="btn btn-default b" ui-sref="#">BUY</a>
                                    </md-card-footer>
                                   </md-card>
                    </td>
        
                
                    </tr>

                    <tr>
                            <td>
                            <md-card class="box">
                                    <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/ro.png" />
                                        <md-card-content>
                                            <h3>RO</h3>
                                            <h4>PRICE: Rs.12000</h4>
                                            <h5>EMI:Rs.1000</h5>
                                        </md-card-content>
                                        <md-card-footer>
                                         <a class="btn btn-default b" ui-sref="#">BUY</a>
                                        </md-card-footer>
                                       </md-card>
                        </td>
                    
                        <td>
                           <md-card class="box">
                                    <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/wm.png" />
                                        <md-card-content>
                                            <h3>WASHING MACHINE</h3>
                                            <h4>PRICE: Rs.9000</h4>
                                            <h5>EMI:Rs.730</h5>
                                        </md-card-content>
                                        <md-card-footer>
                                         <a class="btn btn-default b" ui-sref="#">BUY</a>
                                        </md-card-footer>
                                       </md-card>
                            </td>
                            <td>
                                    <md-card class="box">
                                            <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/ref.png" />
                                                <md-card-content>
                                                    <h3>REFRIGERATOR</h3>
                                                    <h4>PRICE: Rs.16500</h4>
                                                    <h5>EMI:Rs.1410</h5>
                                                </md-card-content>
                                                <md-card-footer>
                                                 <a class="btn btn-default b" ui-sref="#">BUY</a>
                                                </md-card-footer>
                                               </md-card>
                                </td>
                    
                            
                                </tr>
    

    <tr>
            <td>
            <md-card class="box">
                    <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/ac.png" />
                        <md-card-content>
                            <h3>AC</h3>
                            <h4>PRICE: Rs.29500</h4>
                            <h5>EMI:Rs.2590</h5>
                        </md-card-content>
                        <md-card-footer>
                         <a class="btn btn-default b" ui-sref="#">BUY</a>
                        </md-card-footer>
                       </md-card>
        </td>
    
        <td>
           <md-card class="box">
                    <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/ac.png" />
                        <md-card-content>
                            <h3>AC(2 Ton)</h3>
                            <h4>PRICE: Rs.35000</h4>
                            <h5>EMI:Rs.3100</h5>
                        </md-card-content>
                        <md-card-footer>
                         <a class="btn btn-default b" ui-sref="#">BUY</a>
                        </md-card-footer>
                       </md-card>
            </td>
            <td>
                    <md-card class="box">
                            <img alt="MEAN.JS" class="md-card-image" src="modules/core/client/img/brand/fan.png" />
                                <md-card-content>
                                    <h3>CEILLING  FAN</h3>
                                    <h4>PRICE: Rs.2820</h4>
                                    <h5>EMI:Rs.1720</h5>
                                </md-card-content>
                                <md-card-footer>
                                 <a class="btn btn-default b" ui-sref="#">BUY</a>
                                </md-card-footer>
                               </md-card>
                </td>
    
            
                </tr>

               </table>
</div>    
       