<div style="margin-top: 30px; margin-bottom: 30px;">

<table>
    <tr>
        <td>
                <md-card class="box">
                    <md-card-content>
                    <h4><center>On joining 2 pair</center></h4><br>
                    <h5>Get 500 cashback<br>and <br>DINNER SET</h5>
                   </md-card-content>
                    <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                     </md-card-footer>
                    </md-card>
    </td>
    <td>
            <md-card class="box">
                <md-card-content>
                        <h4><center>On joining 25 pair</center></h4><br>
                        <h5>Get 5000 cashback<br>and <br>MOBILE</h5>
               </md-card-content>
                <md-card-footer>
                        <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                 </md-card-footer>
                </md-card>
</td>
<td>
        <md-card class="box">
            <md-card-content>
                    <h4><center>On joining 50 pair</center></h4><br>
                    <h5>Get 7000 cashback<br>OR<br>BANGKOK TRIP</h5>
           </md-card-content>
            <md-card-footer>
                    <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
             </md-card-footer>
            </md-card>
</td>
    </tr>

    <tr>
            <td>
                    <md-card class="box">
                        <md-card-content>
                        <h4><center>On 120 pair</center></h4><br>
                        <h5>Get 10000 cashback<br>and <br>APPLE LAPTOP</h5>
                       </md-card-content>
                        <md-card-footer>
                                <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                         </md-card-footer>
                        </md-card>
        </td>
        <td>
                <md-card class="box">
                    <md-card-content>
                    <h4><center>On making 500 pair</center></h4>
                    <br>
                    <h5>Get 25000 cashback<br>and <br>BULLET BIKE</h5>
                   </md-card-content>
                    <md-card-footer>
                     <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                     </md-card-footer>
                    </md-card>
    </td>
    <td>
            <md-card class="box">
                <md-card-content>
                <h4><center>On making 1010 pair</center></h4>
                <br>
                <h5>Get 50000 cashback<br>and <br>ALTO CAR</h5>
               </md-card-content>
                <md-card-footer>
                 <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                 </md-card-footer>
                </md-card>
</td>
        </tr>

        <tr>
                <td>
                        <md-card class="box">
                            <md-card-content>
                            <h4><center>On making 2020 pair</center></h4>
                            <br>
                            <h5>Get 75000 cashback<br>and<br>SWIFT CAR</h5>
                           </md-card-content>
                            <md-card-footer>
                             <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                             </md-card-footer>
                            </md-card>
            </td>
            <td>
                    <md-card class="box">
                        <md-card-content>
                        <h4><center>On Making 3500 pair</center></h4>
                        <br>
                        <h5>Get 100000 cashback<br>and <br>XUV300 MAHINDRA</h5>
                       </md-card-content>
                        <md-card-footer>
                         <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                         </md-card-footer>
                        </md-card>
        </td>
        <td>
                <md-card class="box">
                    <md-card-content>
                    <h4><center>On making 7500 pair</center></h4>
                    <br>
                    <h5>Get 150000 cashback<br>and <br>MAHINDRA SCORPIO</h5>
                   </md-card-content>
                    <md-card-footer>
                     <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                     </md-card-footer>
                    </md-card>
    </td>
            </tr>

            <tr>
                    <td>
                            <md-card class="box">
                                <md-card-content>
                                <h4><center>On making 15000 pair</center></h4>
                                <br>
                                <h5>Get 200000 cashback<br>and <br>XUV</h5>
                               </md-card-content>
                                <md-card-footer>
                                <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                                 </md-card-footer>
                                </md-card>
                </td>
                <td>
                        <md-card class="box">
                            <md-card-content>
                            <h4><center>On making 30000 pair</center></h4>
                            <br>
                            <h5>Get 300000 cashback<br>and <br>FOURTUNER</h5>
                           </md-card-content>
                            <md-card-footer>
                            <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                             </md-card-footer>
                            </md-card>
            </td>
            <td>
                    <md-card class="box">
                        <md-card-content>
                        <h4><center>On Making 250000 pair</center></h4>
                        <br>
                        <h5>Get 100000 cashback<br>and <br>BMW X6</h5>
                       </md-card-content>
                        <md-card-footer>
                                <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                         </md-card-footer>
                        </md-card>
        </td>
                </tr>
                <tr>
                        <td>
                                <md-card class="box">
                                    <md-card-content>
                                    <h4><center>On making 50000 pair</center></h4>
                                    <br>
                                    <h5>Get 400000 cashback<br>and <br>ROVER DISCOVERY</h5>
                                   </md-card-content>
                                    <md-card-footer>
                                    <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                                     </md-card-footer>
                                    </md-card>
                    </td>
                    <td>
                            <md-card class="box">
                                <md-card-content>
                                <h4><center>On Making 100000 pair</center></h4>
                                <br>
                                <h5>Get 500000 cashback<br>and <br>RANGE ROVER EVOQUE</h5>
                               </md-card-content>
                                <md-card-footer>
                                        <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                                 </md-card-footer>
                                </md-card>
                </td>
                <td>
                        <md-card class="box">
                            <md-card-content>
                            <h4><center>On joining<br>1000000 pair</center></h4><br>
                            <h5>Get 2000000 cashback<br>OR<br>LAMBORGINI</h5>
                           </md-card-content>
                            <md-card-footer>
                                    <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                             </md-card-footer>
                            </md-card>
            </td>
                    </tr>
                    <tr>
                            <td>
                                    <md-card class="box">
                                        <md-card-content>
                                        <h4><center>On joining<br>
                                            1500000 pair</center></h4><br>
                                        <h5>Get 5000000 cashback<br>OR<br>BUNGLOW</h5>
                                       </md-card-content>
                                        <md-card-footer>
                                         <a class="btn btn-default b" ui-sref="addmember">JOIN NOW</a>
                                         </md-card-footer>
                                        </md-card>
                        </td>
                        </tr>
    </table>
        
     </div>